<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599753769102-tnlq6r87lr6fe7ccqrnv19i12qilruh8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599753769102-tnlq6r87lr6fe7ccqrnv19i12qilruh8</string>
	<key>API_KEY</key>
	<string>AIzaSyDfn4WeZ9WCiKZM_e5jVTCPHnWmqkzlWAU</string>
	<key>GCM_SENDER_ID</key>
	<string>599753769102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.lanzyi.mynotes</string>
	<key>PROJECT_ID</key>
	<string>lanzyinotes</string>
	<key>STORAGE_BUCKET</key>
	<string>lanzyinotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599753769102:ios:fc886d8b9817b1d0c2c9df</string>
</dict>
</plist>